<html>
<head>
<title>fragment_friends_list.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
fragment_friends_list.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

    <span class="s4">&lt;!--  09-06-2024, 10121914, HERI, IF9K --&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;25dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;My Friend List&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;25dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/siswanto&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Wanyo Siswanto&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;15dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/nasir&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Ahmad Nasir&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;15dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/difa&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Difa Witsqa Raqina Dhiya&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;15dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/agista&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Agista Septiyanto&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;15dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/yasfa&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Yasfa Muqita Rafiki&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;15dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/fajar&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Fajar Alam Rahmat Sidik&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;15dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/stefani&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Stefani Olga Gita Arum&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;android.support.v4.widget.Space</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/button8&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Back&quot; </span><span class="s0">/&gt;</span>
<span class="s0">&lt;/LinearLayout&gt;</span>

</pre>
</body>
</html>